header {
  h1 {
    color: blue;
    text-align: center;
  }

  a {
    color: blue;
    text-decoration: none;
  }
}

.about {

  h2 {
    color: darkgreen;
  }
}

.featured {

  h2 {
    color: darkgreen;
  }

  h3 {
    color: darkred;
  }
}

footer {
    a {
      text-decoration: none;
    }
}